### Operation with items

In [1]:
import numpy as np
import pandas as pd

In [2]:
a = np.array([10, 20, 30, 40, 50, 60])

In [3]:
my_series = pd.Series(a)

In [4]:
my_series

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int32

In [5]:
my_series[0]

10

In [6]:
my_series[0:3]

0    10
1    20
2    30
dtype: int32

In [7]:
series_2 = pd.Series([121, 144, 169, 196, 225], index=['11', '12', '13', '14', '15'])

In [8]:
series_2

11    121
12    144
13    169
14    196
15    225
dtype: int64

In [10]:
series_2['11':'14']

11    121
12    144
13    169
14    196
dtype: int64

In [11]:
series_2.keys

<bound method Series.keys of 11    121
12    144
13    169
14    196
15    225
dtype: int64>

In [13]:
list(series_2.items())

[('11', 121), ('12', 144), ('13', 169), ('14', 196), ('15', 225)]

In [14]:
series_2.values

array([121, 144, 169, 196, 225], dtype=int64)

In [15]:
series_2.index # Return indices

Index(['11', '12', '13', '14', '15'], dtype='object')

In [17]:
'11' in series_2.index

True

In [18]:
'17' in series_2.index

False

In [19]:
series_2['11']

121

#### Fancy indexing

In [20]:
series_2[['11', '13']]

11    121
13    169
dtype: int64

In [22]:
series_2[['11', '13']] = (131, 179)

In [23]:
series_2

11    131
12    144
13    179
14    196
15    225
dtype: int64

In [26]:
series_2[['11', '13']] = [121, 169]

In [27]:
series_2

11    121
12    144
13    169
14    196
15    225
dtype: object