#### Choosing Observation and Variable Units: loc & iloc

In [5]:
import numpy as np
import pandas as pd

m = np.random.randint(1, 30, size = (10, 3))
df = pd.DataFrame(m, columns=['var1', 'var2', 'var3'])
df

   var1  var2  var3
0    17    17     5
1    19    21     8
2    26    24    16
3    26     1    20
4     7     3     1
5    28     2    29
6     1    18    21
7    29    13    29
8     4     6    13
9     4    19     5

##### #loc: Used to choose var what it as defined

In [8]:
df.loc[0:3]

   var1  var2  var3
0    17    17     5
1    19    21     8
2    26    24    16
3    26     1    20

##### #iloc: Normal indexing

In [9]:
df.iloc[0:3]

   var1  var2  var3
0    17    17     5
1    19    21     8
2    26    24    16

In [10]:
df.iloc[:3, :2]

   var1  var2
0    17    17
1    19    21
2    26    24

In [11]:
df.loc[0:3, 'var3']

0     5
1     8
2    16
3    20
Name: var3, dtype: int32